<div *ngIf="user">
  <h1>Welcome to the startpage {{user.username}}</h1>
</div>

<ul *ngIf="kweets">
  <li *ngFor="let kweet of kweets">
    <p>{{kweet.kweetId}} {{kweet.userId}} {{kweet.content}} {{kweet.date}}</p>
  </li>
</ul>

<form [formGroup]="startPage" (ngSubmit)="search()">

  <div>
    <label>
      search kweet for:
    </label>
    <input type="text" formControlName="searchedKweet" class="form-control">
  </div>

  <input type="submit" value="search kweet" class="cta">


</form>

<div *ngIf="searchedKweets">
<h1>Searched kweets</h1>
<ul *ngIf="searchedKweets">
  <li *ngFor="let kweet of searchedKweets">
    <p>{{kweet.kweetId}} {{kweet.userId}} {{kweet.content}} {{kweet.date}}</p>
  </li>
</ul>
</div>

<form [formGroup]="startPage" (ngSubmit)="createKweet()">

  <div>
    <label>
      kweet content:
    </label>
    <input type="text" formControlName="createdKweet" class="form-control">
  </div>


  <input type="submit" value="create kweet" class="cta">


</form>

<p>
  following
</p>
<ul *ngIf="user">
  <li *ngFor="let following of user.followings">
    <p (click)="profile(following.userId)">{{following.userId}} {{following.name}}</p>
  </li>
</ul>

<p>
  followers
</p>
<ul *ngIf="user">
  <li *ngFor="let follower of user.followers">
    <p (click)="profile(follower.userId)")>{{follower.userId}} {{follower.name}}</p>
  </li>
</ul>
